{% extends 'base.html' %}

{% block title %}
Edit Blog
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
{% endblock css %}

{% block content %}
<main>
    <div class="container">
        <header>
            <h4>Edit</h4>
        </header>
        <form class="edit_blog" method="POST">
            <label for="blog_title">Blog title</label>
            <input type="text" name="blog_title" value="{{post.title}}" required><br>
            <label for="blog_text">Blog Content</label>
            <textarea name="blog_text" rows="15" cols="80" placeholder="**bold**, *italic*, ## headings"
                required>{{ post.content }}</textarea><br>
            <input type="submit" value="Update">
        </form>

    </div>
</main>

{% endblock content %}
