<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='sign_up.css') }}">
    </head>

    <body>
        <main class="form">
        <h1 class="sign-up-header">Register</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form class="register" action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required />
            <label for="password">Password:</label>
            <input type="password" name="password" required />
            <button type="submit">Sign Up</button>
        </form>
        <div class="actions">
            <p>Already have an Account?</p>
            <a href="/login">Login</a>
        </div>
        </main>
    </body>
</html>